{% load static %}
<!DOCTYPE html>
<html lang="ja">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Home</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
   </head>
   
  
   <body>
       
       <div class="parallelogram">
        <h1>5eDRIVE</h1>
        </div>
        <header class="header-container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'Edrive:my_car' user.pk %}">マイカー</a>
        <a class="navbar-brand" href="{% url 'Edrive:mypage' user.pk %}">マイページ</a>
        <div class="logo">
        <a href="{% url 'Edrive:home' %}" class="home-link">
             <img src = "{% get_media_prefix %}shinryoku.png"  alt = "ホーム">
             <p>HOME</p>
        </a>
        </div>
        <a class="navbar-brand" href="{% url 'Edrive:eco_car_site' %}">エコカー関連サイト</a>
        <a class="navbar-brand" href="{% url 'Edrive:logout' %}">ログアウト</a>
      </nav>
      </header>
      {% block content %}{% endblock %}

    <div class="achievement-info">
    <div class="shape"><img src = "{% get_media_prefix %}driver.png"  alt = "しずく">
    <p class="achievement-text">あと{{ remaining_targets }}回目標達成<br>でレベルアップ</p>
    </div>
    
    <p>現在のドライバーレベル<span class="current-level">{{ user.driver_level }}</span></p>
    </div>
    <div class="nav-links">
    <a class="navbar-brand" href="{% url 'Edrive:records' user.pk %}">燃費入力</a>
    <a class="navbar-brand" href="{% url 'Edrive:target_fuelefficiency' user.pk %}">目標燃費量入力</a>
    </div>
    <div class="achievement-container">
        <div class="target-achievement">
            <h4>目標燃費量</h4>
    {% for my_car in my_cars %}
       {% if my_car.target_fuel_efficiency %}
         <div class="value">{{ my_car.target_fuel_efficiency }}km/L</div>
         {% endif %}
    {% endfor %}

    </div>
        <div class="actual-achievement">
            <h4>実績燃費量</h4>
       {% if latest_fuel_record %}
        <div class="value">{{ latest_fuel_record.fuel_efficiency }}km/L</div>
       {% else %}
        <div class="value">Latest Fuel Record is None</div>
       {% endif %}
         </div>
   <div class="you">
   <img src = "{% get_media_prefix %}you.png"  alt = "葉">
   </div>
   <canvas id="fuelEfficiencyChart" ></canvas>
    <script>
        var ctx = document.getElementById('fuelEfficiencyChart').getContext('2d');
        var targetEfficiencyData = JSON.parse('{{ target_efficiency_data|escapejs }}');
        var achievedEfficiencyData = JSON.parse('{{ achieved_efficiency_data|escapejs }}');
        var dates = JSON.parse('{{ dates|escapejs }}');
        var averageFuelEfficiencies = JSON.parse('{{ average_fuel_efficiencies|escapejs }}');

        var datasets = [
            {
                label: '目標燃費',
                data: targetEfficiencyData,
                borderColor: 'blue',
                fill: false
            },
            {
                label: '実績燃費',
                data: achievedEfficiencyData,
                borderColor: 'red',
                fill: false
            }
        ];

        averageFuelEfficiencies.forEach(function(groupData) {
            let borderColor;

            if (groupData.engine_type === 'gasoline') {
                borderColor = 'green';  // ガソリン車の平均燃費
            } else if (groupData.engine_type === 'hybrid') {
                borderColor = 'orange';  // ハイブリッド車の平均燃費
            } else {
                return;  // ガソリン車やハイブリッド車でない場合はスキップ
            }

            let extendedData = Array(dates.length).fill(groupData.average_fuel_efficiency);
            if (dates.length === 1) {
                extendedData.push(groupData.average_fuel_efficiency);  // 同じ値を2回追加
                dates.push(dates[0]);  // ダミーの日付を追加
            }

            datasets.push({
                label: groupData.car_model_name + ' 平均燃費',
                data: Array(dates.length).fill(groupData.average_fuel_efficiency),
                borderColor: borderColor,
                borderDash: [5, 5],
                fill: false,
            });
        });

        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: datasets
            },
            options: {
                legend: {
                    labels: {
                        fontSize: 20 // 凡例（ラベル）の文字サイズを設定
                    }
                  },
                title: {
                        display: true,
                        text: '燃費量',
                        fontSize: 30
                        },  
                        scales: {
                           xAxes: [{
                             scaleLabel: {
                                display: true,
                                labelString: '日付',
                                fontSize: 30  // x軸のラベルのフォントサイズ
                             },
                            ticks: {
                                  fontSize: 30 // x軸のティックラベルのフォントサイズ
                              }
                             }],
                           yAxes: [{
                            scaleLabel: {
                                 display: true,
                                 labelString: '燃費 (km/L)',
                                 fontSize: 30  // y軸のラベルのフォントサイズ
                                  },
                               ticks: {
                                    fontSize: 30 // y軸のティックラベルのフォントサイズ
                                       }
                                     }]
                                 }
                                }
                            });
    </script>
   <div class="graph-container">
      <img src="data:image/png;base64,{{ graph_url }}" alt="Fuel Efficiency Graph">
    </div>
   </div>
   <div class="you">
   <img src = "{% get_media_prefix %}you.png"  alt = "葉">
   </div>  
  
</div>
</body>
</html>
   
