{% load static %}
<!DOCTYPE html>
<html lang="ja">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Home</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
   </head>
   
  
   <body>
       
       <div class="parallelogram">
        <h1>5eDRIVE</h1>
        </div>
        <header class="header-container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'Edrive:my_car' user.pk %}">マイカー</a>
        <a class="navbar-brand" href="{% url 'Edrive:mypage' user.pk %}">マイページ</a>
        <div class="logo">
        <a href="{% url 'Edrive:home' %}" class="home-link">
             <img src = "{% get_media_prefix %}shinryoku.png"  alt = "ホーム">
             <p>HOME</p>
        </a>
        </div>
        <a class="navbar-brand" href="{% url 'Edrive:eco_car_site' %}">エコカー関連サイト</a>
        <a class="navbar-brand" href="{% url 'Edrive:logout' %}">ログアウト</a>
      </nav>
      </header>
      {% block content %}{% endblock %}

    <div class="achievement-info">
    <div class="shape"><img src = "{% get_media_prefix %}driver.png"  alt = "しずく">
    <p class="achievement-text">あと{{ target_achievement_count }}回目標達成<br>でレベルアップ</p>
    </div>
    
    <p>現在のドライバーレベル<span class="current-level">{{ user.driver_level }}</span></p>
    </div>
    <div class="nav-links">
    <a class="navbar-brand" href="{% url 'Edrive:records' user.pk %}">燃費入力</a>
    <a class="navbar-brand" href="{% url 'Edrive:target_fuelefficiency' user.pk %}">目標燃費量入力</a>
    </div>
    <div class="achievement-container">
        <div class="target-achievement">
            <h4>目標燃費量</h4>
    {% for my_car in my_cars %}
       {% if my_car.target_fuel_efficiency %}
         <div class="value">{{ my_car.target_fuel_efficiency }}km/L</div>
         {% endif %}
    {% endfor %}

    </div>
        <div class="actual-achievement">
            <h4>実績燃費量</h4>
    {% for record in fuel_records %}
         {% if record.fuel_efficiency %}
          <div class="value">{{ record.fuel_efficiency|floatformat:1 }}km/L</div>
          {% endif %}
    {% endfor %}
   </div>
   <div class="you">
   <img src = "{% get_media_prefix %}you.png"  alt = "葉">
   </div>
   <div class="graph-container">
      <img src="data:image/png;base64,{{ graph_url }}" alt="Fuel Efficiency Graph">
    </div>
   </div>
   <div class="you">
   <img src = "{% get_media_prefix %}you.png"  alt = "葉">
   </div>  
  

  
</div>
</body>
</html>
   
