<!DOCTYPE html>
<html lang="ja">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
         <title>Login</title>   
   </head>
   <body>
   <nav>
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
   <input type="submit" value="ログイン">
        </form>
        {% if user.is_authenticated %}
        {% else %}
        <a class="navbar-brand" href="{% url 'Edrive:regist' %}">新規登録</a>
        {% endif %}
   </nav>
   </body>
</html>