<!DOCTYPE html>
<html lang="ja">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   </head>
  

   <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'Edrive:my_car' %}">マイカー</a>
        <a class="navbar-brand" href="{% url 'Edrive:mypage' %}">マイページ</a>
        <a class="navbar-brand" href="{% url 'Edrive:home' %}">HOME</a>
        <a class="navbar-brand" href="{% url 'Edrive:eco_car_site' %}">エコカー関連サイト</a>
        <a class="navbar-brand" href="{% url 'Edrive:login' %}">ログアウト</a>

      </nav>
      {% block content %}{% endblock %}
<div class="container">
        <h1>マイカー登録</h1>
        <div class="car-info">
            <table class="table table-bordered">
            <tbody>
                <tr>
                    <td style="width: 30%;">メーカー</td>
                    <td style="width: 30%;">{{ my_car.car_model.manufacturer.name }}</td>
                </tr>
                <tr>
                    <td>車種</td>
                    <td>{{ car_models.car_model.name }}</td>
                </tr>
                <tr>
                    <td>エンジン</td>
                    <td>{{ car_model.engine }}</td>
                </tr>
                <tr>
                    <td>カラー</td>
                    <td>{{ car_model.color }}</td>
                </tr>
                <tr>
                    <td>購入年月</td>
                    <td>{{ my_car.purchase_on }}</td>
                </tr>
            </tbody>
            </table>
       <nav>
          <a class="navbar-brand" href="{% url 'Edrive:mycar_detail'}"><!--pk=mycar.pk-->変更</a>
        </nav>
    </body>
</html>
   