{% load static %}
<!DOCTYPE html>
<html lang="ja">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>portfolio</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   </head>

<body>
  <div class="portfolio">
    <h1>作品No.1 5eDRIVE</h1>
    <div class="screen">
    <img src= "{% get_media_prefix %}スクリーン.png"  alt = "スクリーンショット">
    </div>
    <p>5eDRIVEは自分の運転する車の走行距離と給油量を記録することにより、自身の車の現在の燃費を確認できるアプリケーションです。</p>
    <p>ユーザーは燃費量の目標値を定め、アプリ内でドライバーレベルを上げていくことができます。</p>
    <p>燃費量を知ることで、環境に配慮できるドライバーを増やしていくことを目指します。</p>
    
    <div class="portfolio-links">
    <a href="{% get_media_prefix %}5eDRIVE 企画書,画面設計図.pdf" class="portfolio-link">企画書・画面設計図</a>
        <a href="{% get_media_prefix %}5eDRIVE画面遷移図.svg" class="portfolio-link">画面遷移図</a>
        <a href="{% get_media_prefix %}5eDRIVE_ER図.svg" class="portfolio-link">ER図</a>
    </div>
        <br><a href="{% url 'Edrive:start' %}" class="portfolio-button">このアプリにアクセス</br></a>
</div>
</body>
</html>
  