{% load static %}
<!DOCTYPE html>
<html lang="ja">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>target_fuel_efficiency</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   </head>
  
   <body>
       <header class="header-container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'Edrive:my_car' user.pk %}">マイカー</a>
        <a class="navbar-brand" href="{% url 'Edrive:mypage' user.pk %}">マイページ</a>
        <div class="logo">
        <a href="{% url 'Edrive:home' %}" class="home-link">
             <img src = "{% get_media_prefix %}shinryoku.png"  alt = "ホーム">
             <p>HOME</p>
        </a>
        </div>
        <a class="navbar-brand" href="{% url 'Edrive:eco_car_site' %}">エコカー関連サイト</a>
        <a class="navbar-brand" href="{% url 'Edrive:logout' %}">ログアウト</a>
      </nav>
      </header>
      {% block content %}{% endblock %}
   
   <div class="target">
   {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
   {% endif %}
   
   {% if my_car %}
   <h4>{{ my_car.car_model.car_model_name }}の平均燃費量 {{ my_car.car_model.average_fuel_efficiency }} km/L</h4>
   {% endif %}

<label for="target_fuel_efficiency">目標燃費量</label>
   <nav>
   {% if mycar_registered %}
        <form method="POST">
           {% csrf_token %}
         <div class="form-group">
           {{ form.as_p }}
           <span class="unit">km/L</span>
         </div>
   
   <button type="submit">更新</button>
        </form>
   {% else %}
    <!-- マイカーが登録されていない場合にリンクを表示 -->
    <p>マイカーが登録されていません。まずはマイカーを登録してください。</p>
    <!-- URLのみを表示 -->
    <p><a href="{% url 'Edrive:mycar_detail' user.pk %}">クリックするとマイカー登録画面に遷移します</a></p>
    {% endif %}
        
        <a class="navbar-brand" href="{% url 'Edrive:home' %}">戻る</a>
        
   </nav>
   </div>
   </body>
</html>